.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
  
  
  .book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
  .book-table th,
  .book-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .available {
    color: green;
    font-weight: bold;
  }
  
  .unavailable {
    color: red;
    font-weight: bold;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  


  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    margin: 0 10px;
  }
  